.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  z-index: 1000;
}

.theme-toggle i {
  font-size: 1.3rem;
  background-color: var(--button-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.theme-toggle:hover {
  transform: scale(1.1);
}